.main {
  height: 100vh;
}

.layout {
  display: flex;
}

.sidebar {
  min-height: 100vh;
  width: 300px;
  background-color: #0b2447;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #e0e0e0;
}
.content {
  width: 100%;
  height: 100%;
}
.header,
.logo {
  height: 10vh;
  margin-bottom: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  background-color: #19376d;
}
.body {
  height: 10vh;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: red;
}
.logo h6 {
  font-size: 1.5rem;
  padding: 20px 0;
  text-align: center;
  color: #a5d7e8;
}
.menu-item {
  padding-top: 30px;
  display: flex;
  align-items: center;
}
.menu-item a {
  display: block;
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1.2rem;
}
.menu-item i {
  margin: 0 10px;
  font-size: 1.2rem;
}
.active {
  background-color: #19376d;
  padding: 10px;
  color: #a5d7e8;
}
.header-content {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  margin: 0 15px;
}
.header-content i {
  font-size: 1.2rem;
  padding: 0 10px;
  color: #576cbc;
}
.header-content a {
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 10px;
  color: #8b9feb;
}
